body {
  margin: 0;
}
body ul {
  list-style: none;
  padding-inline-start: unset;
}
body a {
  text-decoration: none;
  color: unset;
}
body p, body ul, body hr, body h1, body h2, body h3, body h4, body h5 {
  margin-block: unset;
}
body input {
  border: unset;
}
body button {
  background: none;
  border: none;
  padding: unset;
}

body {
  font-family: "Noto Sans TC";
  display: flex;
  flex-direction: column;
}
body main {
  min-height: 100vh;
  padding: 54px 0;
}
body img {
  -o-object-fit: cover;
     object-fit: cover;
}

.darkmode-btn {
  display: none;
}

.header {
  width: 100%;
  height: 54px;
  background-color: white;
  position: fixed;
  z-index: 5;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header a {
  display: flex;
  align-items: center;
  height: 34px;
  margin: 10px;
}
.header__title {
  color: #448899;
  font-size: 30px;
}
.header__nav {
  display: flex;
  align-items: center;
  color: #666666;
}

.footer {
  margin-top: auto;
  height: 104px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #757575;
  color: white;
}

.jump2top-btn {
  position: fixed;
  bottom: 3%;
  right: 4%;
  display: none;
  background-color: #757575;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 60%;
}
.jump2top-btn > img {
  width: 100%;
  height: 100%;
}

@media (min-width: 500px) {
  [data-theme=dark] .body {
    background-color: black;
  }
  [data-theme=dark] .body .header, [data-theme=dark] .body .main, [data-theme=dark] .body .footer {
    background-color: black;
  }
  [data-theme=dark] .body .header div, [data-theme=dark] .body .main div, [data-theme=dark] .body .footer div {
    color: white;
  }
  [data-theme=dark] .body .header a, [data-theme=dark] .body .main a, [data-theme=dark] .body .footer a {
    color: #448899;
  }
  [data-theme=dark] .body div[class=tabs__name] {
    background-color: rgba(255, 255, 255, 0.8);
    color: #757575;
  }
  [data-theme=dark] .body div[class=schedule] {
    background-color: #666666;
  }
  [data-theme=dark] .body li[class=carousel__item]:hover {
    color: #757575;
  }
  .darkmode-btn {
    display: block;
    width: 32px;
    height: 32px;
    margin: 10px;
  }
  .darkmode-btn > img {
    width: 100%;
    height: 100%;
  }
  .jump2top-btn {
    width: 80px;
    height: 80px;
    bottom: 8%;
  }
}
@media (min-width: 1200px) {
  .header__content, main__content {
    width: 1200px;
    margin: 0 auto;
  }
}
.button {
  width: 154px;
  height: 36px;
  border-radius: 5px;
  background-color: #448899;
  padding: 10px 20px;
}

.hero {
  color: white;
  background-image: url("/static/images/bg/hero-mobile.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  height: 320px;
}
.hero__content {
  padding: 0 20px;
  width: 100%;
  color: #F8F8F8;
  display: grid;
  gap: 20px;
  box-sizing: border-box;
}
.hero__title {
  font-size: 28px;
}
.hero__text {
  font-size: 16px;
}

.tabs {
  display: grid;
  gap: 30px;
  padding: 15px;
  box-sizing: border-box;
}
.tabs__link {
  height: 280px;
  position: relative;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}
.tabs__link:hover {
  opacity: 0.9;
}
.tabs__img {
  width: 100%;
  height: calc(100% - 45px);
  border-radius: 5px 5px 0 0;
}
.tabs__name {
  position: absolute;
  bottom: 45px;
  height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}
.tabs__info {
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #757575;
  padding: 10px;
  box-sizing: border-box;
}

.carousel {
  padding: 0 15px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: #666666;
  cursor: pointer;
}
.carousel__button {
  opacity: 0.5;
}
.carousel__button:hover {
  opacity: 1;
}
.carousel__track-container {
  overflow: hidden;
  margin: 13px 10px;
  width: 100%;
}
.carousel__track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.carousel__item {
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0 15px;
  text-align: center;
}
.carousel__item:hover {
  color: black;
}

.search-box {
  width: 285px;
  border-radius: 5px;
  background-color: #448899;
}
.search-box__label {
  display: flex;
  align-items: center;
}
.search-box__input {
  width: 225px;
  height: 46px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px 0 0 5px;
}
.search-box__input::-moz-placeholder {
  color: #757575;
}
.search-box__input::placeholder {
  color: #757575;
}
.search-box__icon {
  margin: 0 auto;
}

.container {
  padding: 40px 0;
}

@media (min-width: 500px) {
  .hero {
    background-image: url("/static/images/bg/hero-desktop.webp");
    background-size: cover;
  }
  .hero__content {
    max-width: 1200px;
    margin: 0 auto;
  }
  .tabs {
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 700px) {
  .tabs {
    max-width: 1200px;
    margin: 0 auto;
    gap: 18px;
    grid-template-columns: repeat(3, 1fr);
  }
  .search-box {
    width: 460px;
  }
  .search-box__input {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .tabs {
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  }
  .tabs__link {
    height: 270px;
  }
}/*# sourceMappingURL=index.css.map */