a {
  text-decoration: none;
  color: unset;
}

p, ul, hr, h1, h2, h3, h4, h5 {
  margin-block: unset;
}

ul {
  list-style: none;
  padding-inline-start: unset;
}

hr {
  margin: unset;
  border: none;
}

label, input[type=radio] {
  cursor: pointer;
}

input {
  border: none;
}

button {
  background: none;
  border: none;
  padding: unset;
  cursor: pointer;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  padding: 54px 0;
}

.header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 100;
}
.header__content {
  height: 54px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  padding-left: 10px;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 10px;
  height: 100%;
  color: #666666;
}
.nav__signpop {
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 104px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #757575;
  color: white;
}

.jump2top-btn {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 3%;
  right: 4%;
  display: none;
  background-color: #757575;
  border-radius: 50%;
  opacity: 60%;
  z-index: 99;
}

@media (min-width: 500px) {
  [data-theme=dark] .body {
    background-color: black;
  }
  [data-theme=dark] .body .header, [data-theme=dark] .body .main, [data-theme=dark] .body .footer {
    background-color: black;
  }
  [data-theme=dark] .body .header div, [data-theme=dark] .body .main div, [data-theme=dark] .body .footer div {
    color: white;
  }
  [data-theme=dark] .body .jump2top-btn {
    width: 80px;
    height: 80px;
    bottom: 8%;
  }
}
.body {
  font-family: "Noto Sans TC";
}

.header__title {
  font-size: 30px;
  color: #448899;
}

.darkmode-btn {
  display: none;
}

@media (min-width: 500px) {
  .darkmode-btn {
    display: block;
    width: 32px;
    height: 32px;
  }
  [data-theme=dark] .body .header a, [data-theme=dark] .body .main a, [data-theme=dark] .body .footer a {
    color: #448899;
  }
  [data-theme=dark] .body div[class=cards__name] {
    background-color: rgba(255, 255, 255, 0.8);
    color: #757575;
  }
  [data-theme=dark] .body div[class=schedule] {
    background-color: #666666;
  }
  [data-theme=dark] .body li[class=carousel__item]:hover {
    color: #757575;
  }
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1000;
}
.popup.active {
  display: block;
  width: 340px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 6px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.overlay.active {
  display: block;
}

.signpop {
  margin: 20px;
}
.signpop > h3 {
  font-size: 24px;
  color: #666666;
}
.signpop__form > input, .signpop__form > button {
  width: 100%;
  height: 47px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
}
.signpop__form > input {
  border: solid 1px rgba(204, 204, 204, 0.8);
  padding: 15px;
  margin-top: 15px;
}
.signpop__form > button {
  background-color: #448899;
  color: white;
  margin: 10px 0;
}

.decorator-bar {
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.close-button {
  width: 16px;
  height: 16px;
  margin: 7px;
  position: absolute;
  top: 25px;
  right: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/static/images/icons/close16x16.webp");
}

.res-text {
  font-size: 19px;
  margin-bottom: 10px;
}
.res-text--success {
  color: green;
}
.res-text--failure {
  color: red;
}

.cards {
  display: grid;
  gap: 30px;
  padding: 15px;
  box-sizing: border-box;
}
.cards.cards--nodata {
  grid-template-columns: 1fr;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
}
.cards__link {
  height: 280px;
  position: relative;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  z-index: 5;
}
.cards__link:hover {
  opacity: 0.9;
}
.cards__img {
  height: calc(100% - 45px);
}
.cards__name {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}
.cards__info {
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #757575;
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: 500px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 700px) {
  .cards {
    gap: 18px;
    grid-template-columns: repeat(3, 1fr);
  }
  .search-box {
    width: 460px;
  }
}
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .cards__link {
    height: 270px;
  }
}
.hero {
  height: 320px;
  color: white;
  background-image: url("/static/images/bg/hero-mobile360x320.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.hero__content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  color: #F8F8F8;
  display: grid;
  gap: 20px;
  box-sizing: border-box;
}
.hero__title {
  font-size: 28px;
}
.hero__text {
  font-size: 16px;
}

.carousel {
  padding: 0 15px 20px;
  display: flex;
  align-items: center;
  color: #666666;
}
.carousel__button {
  opacity: 0.5;
}
.carousel__button:hover {
  opacity: 1;
}
.carousel__track-container {
  overflow: hidden;
  margin: 13px 10px;
  width: 100%;
}
.carousel__track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.carousel__item {
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0 15px;
  text-align: center;
}
.carousel__item:hover {
  color: black;
}

.search-box {
  width: 285px;
  height: 46px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.search-box__input {
  width: calc(100% - 90px);
  height: 100%;
  padding-left: 15px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-box__input::-moz-placeholder {
  color: #757575;
}
.search-box__input::placeholder {
  color: #757575;
}
.search-box__icon {
  width: 60px;
  height: 100%;
  padding: 8px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #448899;
}

.container {
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .hero {
    background-image: url("/static/images/bg/hero-desktop1920x320.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .search-box {
    width: 460px;
  }
}/*# sourceMappingURL=index.css.map */