@use "common/reset" as *;
@use "common/init" as init;   //先頭の_と.scssの記述不要
@use "compo/signup" as signup; //indexでsignupのsccを当てるのに必要な記述
@use "compo/cards" as cards;

.hero {
    height: 320px;
    color: $white;
    background-image: url("/static/images/bg/hero-mobile360x320.webp");  //png対比25%程容量が小さく透明性もok
    @include bg-img;
    @include flex-center2;

    &__content {
        width: 100%;
        @include max-width-center;
        padding: 0 20px;
        color: init.$grayF8F;
        display: grid;
        gap: 20px;
        box-sizing: border-box;
    }

    &__title {
        font-size: 28px;
    }

    &__text {
        font-size: 16px;
    }
}

.carousel {
    padding: 0 15px 20px;
    @include flex-center2;
    color: $gray666;

    &__button {
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    &__track-container {
        overflow: hidden;
        margin: 13px 10px;
        width: 100%;
    }

    &__track {
        display: flex;
        transition: transform 0.3s ease-in-out;
        overflow: hidden;   //hiddenとすることで下部スクロールを削除。表示するには右記が必要overflow-x: scroll;
        cursor: pointer;
        position: relative;
        z-index: 5;
    }

    &__item {
        min-width: fit-content;
        padding: 0 15px;
        text-align: center;

        &:hover {
            color: $black;
        }
    }
}

.search-box {
    width: 285px;
    height: 46px;
    border-radius: 5px;
    @include flex-center2;

    &__input {
        width: calc(100% - 90px);
        padding: 15px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        &::placeholder {
            color: $gray757;
        }
    }

    &__icon {
        width: 60px;
        height: 100%;
        padding: 8px 15px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: init.$cyan448;
    }
}

.container {
    padding: 40px 0;
    @include max-width-center;
}

@media (min-width: 500px) {
    .hero {
        background-image: url("/static/images/bg/hero-desktop1920x320.webp");
        @include bg-img;
    }

    .search-box {
        width: 460px;
    }
}



